/*重複使用*/
.bt-square{
  display: block;
  position: absolute;
  padding: 5px 4px;
  top: auto;
  left: auto;
  right: 20px;
  bottom: auto;
  color: #b39563;
  border:#b39563 1px solid ; 
  text-align: center;
}

.bt-square1{
  display: block;
  border:#b39563 1px solid

}

.bt-square1:hover{
  background-color: #b39563;
  color: white;
}

.bt-square-center{
  margin-top: -150px;
}
h4{
  display: block;
  border:#b39563 1px solid;
  margin-bottom: 30px;
  text-align: center;
}

/*反白顏色*/
::selection {
    background: #b39563;
    color: #fff;
    /*font-size: 25px;*/
}

::-moz-selection{
 background: #b39563;
    color: #fff;
    /*font-size: 25px;*/
}

/*hero*/
.d{
  position: relative;
  
}
.d img{
  width: 100%;
}
.frame{
  position: absolute;
  border:#b39563 5px solid; 
  top: 0;
  height: 92%;
  margin-top: 35px;
  right: 5px;
  left: 50px;
  top: 0;
  bottom: 0;
}

.frame2{
  position: absolute;
  border:#b39563 4px solid; 
  top: 0;
  height: 87%;
  margin-top: 35px;
  right: 5px;
  left: 35px;
  top: 0;
  bottom: 0;
}
.logo{
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #b39563;
  }
.logo h1{
  color: white;
  font-weight: bold;
}
.logo:hover{
  background-color: rgba(179, 149, 99, 0.90);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.master{
  font-size: 30px;
  letter-spacing: 5px;
  margin: 15px 0 -10px 0; 
}

.treepark{
  font-size: 72px;
  letter-spacing: 5px;
}

.logo-bg{
  background-color: white;
  padding-bottom: 50px;
}

.logo2{
  top: 0;
  margin-left: 12px;
  text-align: center;
  background-color: #b39563;
  padding: 15px 0 10px 0;
}

.logo2 h1{
  margin: 0;
  color: white;
  font-weight: bold;

}

.master2{
  font-size: 18px;
  letter-spacing: 5px;
  
}

.treepark2{
  font-size: 55px;
  letter-spacing: 5px;
}

.b{
  background-color: #b39563;
  padding: 20px 0 20px 0;

}
/*video-content*/
.line{
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background-color: #314440;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: auto;
}

.video-content{
  position: relative;
  padding-top: 7%;
	background-color: #314440;
}

.story-video{
  background-color: #b39563;
  height: 100%;
}


/*text-content*/
.text-content h2{
  margin-top: 50px;
  font-weight: bold;
}
.text-content p{
  margin: 40px 0 50px 0;
  text-align: center;
  color: white;
  
}

[class*="block-grid-"] > .a {
    padding: 0; 
}

/*works*/
[class*="works-img"]{
  position: relative;
}
.works-tilte{
  position: absolute;
  top: 5px;

}

.works-tilte h2{
  position: absolute;
  display: inline-block;
  left: 15px;
  font-size: 24px;
  color: white;
  text-decoration: underline;
}


.works-tilte h4{
  position: absolute;
  display: inline-block;
  right: 15px;
  font-size: 20px;
  color: white;
  border: white 1px solid;
}

.works-view{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 18%;
  text-align: center;
  background-color: rgba(179, 149, 99, 0.5);
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.works-view h4{
  color: white;
  border: white 1px solid;
}
.works{

  margin: 200px 0 200px 0;
  text-align: center;
}

.hr{
margin-top: -80px;
  text-align: center;
  font-size: 70px;
  font-weight: 300;
}
.works label{
  cursor: pointer;
}

.works-content{
  position: absolute;
  display: none;
  margin: 50px 0;
  padding: 25px 0;
  width: 100%;
  min-height:  600px;
  background-color: #b39563;

}
#works-content1{
  z-index: 2;
}



.img-bonsai1{
  background: #000 url(../img/works1-new.png) ;
  background-size: cover;
}
.img-bonsai2{
  background: #000 url(../img/works2-new.png) ;
  background-size: cover;
}
.img-bonsai3{
  background: #000 url(../img/works3-new.png) ;
  background-size: cover;
}
.img-bonsai4{
  background: #000 url(../img/works4-new.png) ;
  background-size: cover;
}
.img-bonsai5{
  background: #000 url(../img/works5-new.png) ;
  background-size: cover;
}
.img-bonsai6{
  background: #000 url(../img/works6-new.png) ;
  background-size: cover;
}
.img-bonsai7{
  background: #000 url(../img/works1.jpg) ;
  background-size: cover;
}


/*about-treepark/master*/
.about-treepark{
  display: block;
  margin-top: 25px; 
}
/*service-items*/
.service-items{
  margin: 200px 0 100px 0; 
  text-align: center;
}
.c{
  margin-bottom: 50px; 
}
.c p{
  color: white;
  font-size: 18px;
}

.c h3{
  text-decoration: underline;
}

.icon1{
  background:  url(../img/icon1.png) ;
  background-size: cover;
}
.icon2{
  background:  url(../img/icon2.png) ;
  background-size: cover;
}

.icon3{
  background:  url(../img/icon3.png) ;
  background-size: cover;
}
.icon4{
  background:  url(../img/icon4.png) ;
  background-size: cover;
}
.icon5{
  background:  url(../img/icon5.png) ;
  background-size: cover;
}
[class*="icon"]{
  display: inline-block;
  width: 90px;
  height: 90px;
  border:white 1px solid; 
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
}

/*map/contact*/
.contact{
  margin-bottom: 25px;
  text-align: center;
}
.contact a{
  display: block;
  padding-top: 50px;
  color: #b39563;
}
.line2{
  position: relative;
  bottom: -10px;
  width: 100%;
  height: 20px;
  background-color: #314440;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
}
/*footer*/
footer{
  position: relative;
  max-width: 100%;
  height: auto;
  padding: 40px 28.5px 10px 28.5px;
  background-color: #b39563;
  color: white;
  font-family: '黑体', '仿宋',Arial, sans-serif;
  font-size: 18px;
  text-align: left;
}
footer a{
  color: white;
}

.facebook{
  position: absolute;
  right: 30px;
  color: #b39563;
  display: inline-block;
  text-align: center;
}
.facebook:hover{
  color: rgba(0, 13, 255, 0.52);
}
.facebook:focus{
  color: rgba(179, 149, 99, 0.5);
}

.fa-stack{
  float: right;
  bottom: 15px;
}

